<% if object.errors.any? %>
  <div id="error_explanation">
    <p>
      <%= pluralize(object.errors.count, "error") %> prevented the form from being saved (｡•ˇ‸ˇ•｡)
    </p>

    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
