<%= render 'shared/title', title: @gallery.title %>

<div>
  <% if current_user == @gallery.user %>
  <span class="btn btn-primary">
    <%= link_to 'new picture', new_gallery_frame_path(@gallery), { :style=>'color: white; font-size: 16px', :class => "css_class"} %>
  </span>
  <% end %>
</div>

<div>
<br> <!-- TODO: Fix this, add proper padding -->
</div>

<% @gallery.frames.each do |frame| %>
   <div class="well col-md-4">
      <p><h4><u><%= frame.name %></u></h4></p>
      <p style="width:300px; height:300px;"><%= image_tag frame.image_url(:thumb) if frame.image? %></p>
    </div>
<% end %>

</div>