<%= render 'shared/title', title: @category.title %>
<% if @category.posts.size != 0 %>
  <div> 
    <% @category.posts.reverse.each do |post| %>
      <%= render 'posts/post', post: post, show: false %>
    <% end %>
  </div>
<% else %>
  <p> Oops..no post for this category :( </p>
<% end %>

