<!DOCTYPE html>
<html>
<head>
  <title>MyBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<style>
    body {
      margin: 0px;
      /*background: url(assets/cake01.png);*/
      background-color: salmon; 
    }
    
    .frame {
      width: 1000px;
      margin: 0px auto;
    }
</style>

<body>
<div class="frame">

<%= yield %>
</div>
</body>
</html>
